:root {
    --theme-color-white: #fff;
    --theme-color-blue: #004aba;
    --theme-color-red: red;
    --theme-color-purple: #6b36bc;
    --theme-color-cyan: #00edfd;
    --theme-color-magenta: #fe0075;
    --theme-color-yellow: #ff0;
    --theme-color-salmon: #ff316b;
    --theme-color-gold: #fc4;
    --theme-color-orange: #ff2500;
    --theme-color-game-pass: #0e7a0d;
    --theme-color-game-pass--light: #13a111;
    --theme-color-pc: #00a2ed;
    --theme-color-pc--light: #1ab6ff;
    --theme-color-nearly-black: rgb(0 0 0 / 90%);
    --theme-color-black: #000;

    --sections-side-padding: 2.5rem;
    --character-sections-vertical-spacing: 10rem;
    --section-heading-margin: 3.5rem;

    --img-tilt: -2deg;
    --drop-shadow--sm: 4px 4px 0 var(--theme-color-nearly-black);

    --header-fz-med: 2rem;
}

* {
    box-sizing: border-box;
}

body,
button {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("./images/HFR-bleed.webp");
}

h1,
h2,
h3 {
    margin: 0;
    font-family: 'Black Han Sans', sans-serif;
    text-transform: uppercase;
}

h2,
h3 {
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    filter: drop-shadow(var(--drop-shadow--sm));
    font-size: 3rem;
    color: var(--theme-color-white);
}

img,
picture {
    display: block;
}

picture img {
    max-inline-size: 100%;
    block-size: auto;
}

/* entry and exit animations */
@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.popover::backdrop {
    animation: fade-in 350ms ease-in-out;
}

.popover,
.popover::backdrop {
    &:popover-open,
    &:popover-open::backdrop {
        /* BEFORE-OPEN state */
        @starting-style {
            opacity: 0;
        }

        /* OPEN state */
        opacity: 1;
    }

    /* AFTER-OPEN-IS-CLOSED state */
    opacity: 0;
}

.popover,
.popover::backdrop {
    /* transition animation props */
    transition: opacity 350ms, display 350ms allow-discrete, overlay 350ms allow-discrete;
}

/* base button styling */
button {
    cursor: pointer;
    border: 2px solid #000;
    box-shadow: 4px 4px 0 #000;
    font-weight: 700;
}

.button--red {
    background-color: var(--theme-color-red);
    color: var(--theme-color-white);
}

.button--yellow {
    background-color: var(--theme-color-yellow);
    color: #000;
}

.button--red:hover,
.button--yellow:hover {
    background-color: var(--theme-color-blue);
    color: var(--theme-color-white);
}

.button--blue {
    background-color: var(--theme-color-blue);
    color: var(--theme-color-white);

    &:hover {
        background-color: var(--theme-color-yellow);
        color: var(--theme-color-black);
    }
}

p {
    margin: 0;
    line-height: 1.6;
    font-size: 1.125rem;
}

.tilted {
    rotate: var(--img-tilt);
}

/* visually hide, only show for screen reader assistive tech */
.screen-reader-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}

.page-wrapper {
    width: min(80rem, 100%);
    /* max-width: 80rem; */
    margin-inline: auto;
    background-color: #fff;
    box-shadow: 0 0 12px 20px hsl(0, 0%, 0%, .2);
}

.fancy-button {
    font-size: 1.25rem;
    padding-block: 1rem;
    padding-inline: 3rem;
    transform: skewX(-10deg);

    & span {
        display: block;
        transform: skewX(10deg);
        text-transform: uppercase;
        letter-spacing: .1em;
    }
}

.header-hero {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-block-end: 12rem;
    background-color: var(--theme-color-blue);

    & .hero-bg {
        grid-column: 1 / -1;
        grid-row: 1 / -1;

        & img {
            -webkit-mask-image: linear-gradient(180deg,#000 90%,transparent);
            mask-image: linear-gradient(180deg,#000 90%,transparent);
        }
    }

    & .logo {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
        width: 30rem;
        padding-inline-end: 1rem;
        padding-block-start: 1rem;

        & img {
            filter: drop-shadow(8px 8px 0 rgba(0, 0, 0, .85));
        }
    }

    & .cta-group {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        align-self: self-end;
        justify-self: center;
        padding-block-end: 1.5rem;
        z-index: 1;

        /* this container is also a grid parent */
        display: grid;
        justify-items: center;
        gap: 2.25rem;
    }

    & .logo-group {
        display: flex;
        gap: 1.5rem;
    }

    & .arrow-container {
        background-color: var(--theme-color-yellow);
        aspect-ratio: 1 / 1;

        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        opacity: .85;

        & svg {
            fill: var(--theme-color-blue);
        }
    }
}

.chai-section,
.peppermint-section,
.enemies-section {
    padding-inline: var(--sections-side-padding);
    padding-block-end: var(--character-sections-vertical-spacing);

    & h2 {
        margin-block-end: 1.5rem;
    }
}

.peppermint-section {
    padding-block-start: var(--character-sections-vertical-spacing);
}

.peppermint-section,
.enemies-section {
    display: grid;

    & p {
        margin-block-end: 2rem;
    }

    & .character-popover::backdrop {
        background-color: #000;
    }
}

/* Heroes/Villains Gallery (start) */
.character-popover {
    padding-block: 2rem;
    padding-inline: 10rem;
    max-height: 100%;

    background-color: var(--theme-color-purple);

    & h2 {
        text-align: center;
    }

    & .popover-tab-content {
        display: none;
    }

    & .popover-tab-content.is-active {
        display: block;
    }

    .gallery-picture {
        width: 35rem;
        margin-block-end: 1.5rem;
    }

    & h3 {
        margin-block-end: 1rem;
        font-size: var(--header-fz-med);
    }

    .gallery-body {
        color: #fff;

        & p {
            width: 50ch;
        }
    }
}

.hero-tabs,
.enemy-tabs {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
    gap: 1rem;
    justify-content: center;

    list-style-type: none;

    & button {
        padding: 0;
        border: none;
    }

    & img {
        width: 100%;
    }
}

.hero-tabs li.is-active,
.enemy-tabs li.is-active {
    & button {
        outline: 4px solid var(--theme-color-yellow);
    }
}

/* Heroes/Villains Gallery (end) */

.chai-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "text  img"
        "video video";
    color: var(--theme-color-white);

    & .text-group {
        grid-area: text;
    }

    & .img-group {
        grid-area: img;
        grid-row: 1 / -1;
        rotate: -24deg;
    }

    & .chai-section-cta-button {
        padding: 0;
    }

    & .video-group {
        grid-area: video;
        justify-self: center;
        z-index: 1;
        rotate: -2deg;

        & picture {
            border: 8px solid var(--theme-color-yellow);
            max-inline-size: 50rem;
        }
    }
}

.peppermint-section {
    grid-template-columns: 1.3fr 1fr;
    grid-template-areas:
        "img text";

    color: var(--theme-color-white);

    & .text-group {
        grid-area: text;
    }

    & .img-group {
        grid-area: img;
    }

    & .popout--left {
        margin-inline-start: -5.5rem;
    }
}

.enemies-section {
    grid-template-columns: 1fr 1.3fr;
    grid-template-areas:
        "text img";

    color: var(--theme-color-white);

    & .text-group {
        grid-area: text;
    }

    & .img-group {
        grid-area: img;
    }

    & .popout--right {
        margin-inline-start: 5.5rem;
    }
}

.news-section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-inline-size: 80%;
    margin-inline: auto;
}

.news-section {
    padding-block: 6rem;

    & h2 {
        margin-block-end: var(--section-heading-margin);
        text-align: center;
    }

    & .cards-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        margin-block-end: 4rem;

        & article {
            display: grid;
            grid-template-rows: auto 1fr;

            border: 2px solid #000;
            background-color: var(--theme-color-gold);
            transition: transform 150ms ease-in-out;

            &:hover {
                transform: translateY(-25px);
            }
        }

        & .card-info {
            padding-inline: 1.25rem;
            padding-block: 1.25rem;

            display: grid;
            align-content: space-between;
            gap: 3rem;

            & h3 {
                margin-block-end: 1rem;
                font-size: 1.25rem;
                text-shadow: initial;
                filter: none;
                color: var(--theme-color-black);
            }
        }

        & img {
            block-size: 14rem;
            object-fit: cover;
        }
    }
}

.purchase-section {
    padding-block: 5rem;
    background-color: var(--theme-color-cyan);
    background-image: url("./images/purchase-bg.avif");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    & .purchase-section-header {
        text-align: center;
        margin-block-end: var(--section-heading-margin);
    }
}

.game-edition-card {
    display: grid;
    grid-template-areas:
        "cover-img edition-content"
        ".         edition-content";
    grid-template-columns: 1.6fr 3fr;
    grid-template-rows: auto;
    margin-inline: 3rem;
    margin-block-end: 3rem;
    padding-inline: 1.5rem;
    padding-block: 2rem;
    row-gap: 3rem;
    background-color: var(--theme-color-gold);
    border: 2px solid #000;
    box-shadow: 6px 6px 0 var(--theme-color-nearly-black);

    & h2 {
        font-size: 2.75rem;
    }

    & .img-container {
        grid-area: cover-img;
    }

    & .img-container-lower {
        position: relative;
        rotate: var(--img-tilt);

        & .card-popover {
            border: none;
            background: none;
            box-shadow: none;
        }

        & .img-cross {
            position: absolute;
            inset: 0;
            margin: auto;

            fill: var(--theme-color-yellow);
            filter: drop-shadow(var(--drop-shadow--sm));
        }
    }

    & img {
        filter: drop-shadow(4px 4px 0 var(--theme-color-nearly-black));
    }

    & .img-container:first-of-type {
        margin-block-start: -4rem;
    }

    & .game-edition-content {
        grid-area: edition-content;
        padding-block: 2rem;
        padding-inline: 3rem;
    }

    & .game-edition-content h2 {
        margin-block-end: 1rem;
    }

    & .game-edition-content ul,
    & .standard-edition-description {
        margin-block-end: 2rem;
    }

    & .button-mini-grid {
        display: grid;
        grid-template-areas:
            "buy-button .";
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        margin-block-end: 2rem;
    }

    & .buttons-grid {
        display: grid;
        grid-template-areas:
            "xbox   windows"
            "steam  epic";
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem 3rem;

        &:nth-child(1) {
            grid-area: "xbox";
        }

        &:nth-child(2) {
            grid-area: "windows";
        }

        &:nth-child(3) {
            grid-area: "steam";
        }

        &:nth-child(4) {
            grid-area: "epic";
        }

    }

    & .fancy-button {
        width: 100%;
        background-color: var(--theme-color-pc);
        color: var(--theme-color-white);

        &:hover {
            background-color: var(--theme-color-pc--light);
        }
    }

    & .fancy-button--game-pass {
        background-color: var(--theme-color-game-pass);

        &:hover {
            background-color: var(--theme-color-game-pass--light);
        }
    }

    & .card-deluxe-popover {
        border: 2px solid var(--theme-color-black);
        padding: 0;
    }
    
    & .card-deluxe-popover img {
        max-inline-size: 60rem;
        inline-size: 100%;
        filter: none;
        border: none;
    }

    & .card-deluxe-popover::backdrop {
        background-color: rgb(0 0 0 / 80%);
    }
}

/* Scroll Timeline Animation */
@keyframes color-fade {
    0% {
        background-color: var(--theme-color-blue);
    }

    50% {
        background-color: var(--theme-color-purple);
    }

    80% {
        background-color: var(--theme-color-magenta);
    }

    100% {
        background-color: var(--theme-color-magenta);
    }
}

.scroll-timeline-wrapper {
    animation: color-fade linear;
    animation-timeline: view();
}

/* Media Queries */
@media screen and (width < 104em) {
    .chai-section {
        grid-template-columns: 1fr;
        grid-template-areas:
            "text"
            "img"
            "video";
        justify-items: center;

        & .text-group {
            z-index: 1;
            margin-block-end: 4rem;
        }

        & .img-group {
            grid-row: auto;
            rotate: 0deg;
        }
    }

    .peppermint-section,
    .enemies-section {
        grid-template-columns: 1fr;
        grid-template-areas:
            "text"
            "img";
    }

    .peppermint-section .popout--left,
    .enemies-section .popout--right {
        margin-inline: 0;
    }

    .news-section {
        & .cards-container {
            & .card-info {
                padding: 1rem;
                gap: 1.5rem;
            }
        }
    }
}