:root {
    --theme-color-blue: #004aba;
    --theme-color-red: red;
    --theme-color-purple: #6b36bc;
    --theme-color-cyan: #00edfd;
    --theme-color-magenta: #fe0075;
    --theme-color-yellow: #ff0;
    --theme-color-salmon: #ff316b;
    --theme-color-gold: #fc4;
    --theme-color-orange: #ff2500;
    --theme-color-xbox: #0e7a0d;
    --theme-color-pc: #00a2ed;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("./images/HFR-bleed.webp");
}

img,
picture {
    display: block;
}

.page-wrapper {
    max-width: 80rem;
    margin-inline: auto;
    background-color: var(--theme-color-cyan);
    box-shadow: 0 0 12px 20px hsl(0, 0%, 0%, .2);
}

.hero-header {
    
}