:root {
    --theme-color-white: #fff;
    --theme-color-blue: #004aba;
    --theme-color-red: red;
    --theme-color-purple: #6b36bc;
    --theme-color-cyan: #00edfd;
    --theme-color-magenta: #fe0075;
    --theme-color-yellow: #ff0;
    --theme-color-salmon: #ff316b;
    --theme-color-gold: #fc4;
    --theme-color-orange: #ff2500;
    --theme-color-xbox: #0e7a0d;
    --theme-color-pc: #00a2ed;
    --theme-color-nearly-black: rgb(0 0 0 / 90%);

    --sections-side-padding: 2.5rem;
}

* {
    box-sizing: border-box;
}

body,
button {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("./images/HFR-bleed.webp");
}

h1,
h2,
h3 {
    margin: 0;
    font-family: 'Black Han Sans', sans-serif;
    text-transform: uppercase;
}

h2 {
    text-shadow: 4px 4px 0 #000;
    font-size: 3rem;
    color: var(--theme-color-white);
}

img,
picture {
    display: block;
}

picture img {
    max-inline-size: 100%;
    block-size: auto;
}

/* base button styling */
button {
    cursor: pointer;
    border: 3px solid #000;
    box-shadow: 4px 4px 0 #000;
    font-weight: 700;
}

.button--red {
    background-color: var(--theme-color-red);
    color: var(--theme-color-white);
}

.button--yellow {
    background-color: var(--theme-color-yellow);
    color: #000;
}

p {
    margin: 0;
    line-height: 1.5;
}

/* visually hide, only show for screen reader assistive tech */
.screen-reader-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}

.page-wrapper {
    max-width: 80rem;
    margin-inline: auto;
    background-color: var(--theme-color-cyan);
    box-shadow: 0 0 12px 20px hsl(0, 0%, 0%, .2);
}

.fancy-button {
    font-size: 1.25rem;
    padding-block: 1rem;
    padding-inline: 3rem;
    transform: skewX(-10deg);

    & span {
        display: block;
        transform: skewX(10deg);
        text-transform: uppercase;
        letter-spacing: .1em;
    }
}

.header-hero {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-block-end: 12rem;
    background-color: var(--theme-color-blue);

    & .hero-bg {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
    }

    & .logo {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
        width: 30rem;
        padding-inline-end: 1rem;
        padding-block-start: 1rem;

        & img {
            filter: drop-shadow(8px 8px 0 rgba(0, 0, 0, .85));
        }
    }

    & .cta-group {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        align-self: self-end;
        justify-self: center;
        padding-block-end: 1.5rem;
        z-index: 1;

        /* this container is also a grid parent */
        display: grid;
        justify-items: center;
        gap: 2.25rem;
    }

    & .logo-group {
        display: flex;
        gap: 1.5rem;
    }

    & .arrow-container {
        background-color: var(--theme-color-yellow);
        aspect-ratio: 1 / 1;

        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

        & svg {
            fill: var(--theme-color-blue);
        }
    }
}

.chai-section,
.peppermint-section,
.enemies-section {
    padding-inline: var(--sections-side-padding);
}

.peppermint-section,
.enemies-section {
    gap: var(--sections-side-padding);
}

.chai-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "text  img"
        "video video";
    background-color: var(--theme-color-blue);
    color: var(--theme-color-white);

    & .text-group {
        grid-area: text;
    }

    & .img-group {
        grid-area: img;
        grid-row: 1 / -1;
        rotate: -24deg;
    }

    & .chai-section-cta-button {
        padding: 0;
    }

    & .video-group {
        grid-area: video;
        justify-self: center;
        z-index: 1;
        rotate: -2deg;

        & picture {
            border: 8px solid var(--theme-color-yellow);
            max-inline-size: 50rem;
        }
    }
}

.peppermint-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "img text";

    background-color: var(--theme-color-purple);
    color: var(--theme-color-white);

    & .text-group {
        grid-area: text;
    }

    & .img-group {
        grid-area: img;
    }
}

.enemies-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "text img";

    background-color: var(--theme-color-purple);
    color: var(--theme-color-white);

    & .text-group {
        grid-area: text;
    }

    & .img-group {
        grid-area: img;
    }
}

.news-section-wrapper {
    max-inline-size: 80%;
    margin-inline: auto;
}

.news-section {
    padding-block: 6rem;
    background-color: var(--theme-color-magenta);

    & h2 {
        text-align: center;
    }

    & .cards-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;

        & article {
            display: grid;
            grid-template-rows: auto 1fr;

            border: 2px solid #000;
            background-color: var(--theme-color-gold);
        }

        & .card-info {
            padding-inline: 1.25rem;
            padding-block: 1.25rem;

            display: grid;
            align-content: space-between;
            gap: 3rem;

            & h3 {
                margin-block-end: 1rem;
            }
        }

        & img {
            block-size: 14rem;
            object-fit: cover;
        }
    }
}

.purchase-section {
    padding-block: 5rem;
}

.game-edition-card {
    display: grid;
    /* TODO: blank space below img not working */
    grid-template-areas:
        "cover-img edition-content"
        ".         edition-content";
    grid-template-rows: auto;
    margin-inline: 3rem;
    margin-block-end: 3rem;
    padding-inline: 1.5rem;
    padding-block: 2rem;
    row-gap: 2rem;
    background-color: var(--theme-color-gold);
    border: 2px solid #000;

    & h2 {
        font-size: 2.75rem;
    }

    & .img-container {
        grid-area: cover-img;
    }

    & .game-edition-content {
        grid-area: edition-content;
        padding-block: 2rem;
        padding-inline: 3rem;
    }

    & .button-mini-grid {
        display: grid;
        grid-template-areas:
            "buy-button .";
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }

    & .buttons-grid {
        display: grid;
        grid-template-areas:
            "xbox   windows"
            "steam  epic";
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem 3rem;

        &:nth-child(1) {
            grid-area: "xbox";
        }

        &:nth-child(2) {
            grid-area: "windows";
        }

        &:nth-child(3) {
            grid-area: "steam";
        }

        &:nth-child(4) {
            grid-area: "epic";
        }

    }

    & .fancy-button {
        width: 100%;
        background-color: var(--theme-color-pc);
        color: var(--theme-color-white);
    }
}